<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <h1>Student Marksheet</h1>
    <table>
        <tr>
            <th>Name</th>
            <th>Maths</th>
            <th>Physics</th>
            <th>Chemistry</th>
            <th>English</th>
            <th>Biology</th>
            <th>Economics</th>
            <th>History</th>
            <th>Civics</th>
        </tr>
        <tr>
            <th>John</th>
            <th>55</th>
            <th>45</th>
            <th>56</th>
            <th>87</th>
            <th>21</th>
            <th>52</th>
            <th>89</th>
            <th>65</th>
        </tr>
    </table>
</body>
</html>