<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <h1>Student Marksheet</h1>
    <table>
        <tr>
            <th>{{ header[0] }}</th>
            {% for i in header[3:11] %} 
                <th>{{ i }}</th>
            {% endfor %}
        </tr>
        <tr>
            <td>{{ a[0] }}</td>
            {% for i in a[3:11] %} 
                <td>{{ i }}</td>
            {% endfor %}
        </tr>
    </table>
</body>
</html>